.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    border: 1px solid #ccc;
    padding: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.button-container button {
    margin: 0 10px; /* Espaciado horizontal entre botones */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

.button-container button:hover {
    background-color: #0056b3;
}

#dynamic-box-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.dynamic-box {
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    background-color: #f1f1f1;
    text-align: center;
}